@font-face {
  font-family: 'Fira Code';
  src: url('./fonts/ttf/FiraCode-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}


html, body {
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
}

h1 {
  font-family: 'Fira Code';
  color: white;
  animation: fade-in 1s linear;
}

ul {
  animation: fade-in 1.5s linear;
  animation-delay: 0.75s;
}

ul {
  text-decoration: none;
  color: black;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  font-family: 'Fira Code';
  font-size: 3vh;
  box-shadow: inset 0 0 0 0 #ff004d;
  color: #ff004d;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

}

p {
  color: white;
  position: absolute;
  bottom: 0;
  font-family: monospace;
}
/* Add a transition to hover effects on buttons */

a:hover {
  box-shadow: inset 300px 0 0 0 #ff004d;
  color: white;
}



/* Add a subtle animation to the page header when the page loads */


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
