@font-face {
  font-family: 'Fira Code';
  src: url('./fonts/ttf/FiraCode-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}


html, body {
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
  
}

h1 {
  font-family: 'Fira Code';
  color: white;
}

ul {
  text-decoration: none;
  color: black;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  font-family: monospace;
  font-size: 3vh;

}

p {
  color: white;
  position: absolute;
  bottom: 0;
  font-family: monospace;
}
/* Add a transition to hover effects on buttons */

a:hover{
  content: "";

  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #bb3a3a;
  animation: fade-in-underline 0.5s linear forwards;
}

@keyframes fade-in-underline {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

/* Add a subtle animation to the page header when the page loads */
h1 {
  animation: fade-in 1.5s linear;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
